[submodule "vto-realsim"]
	path = vto-realsim
	url = https://github.com/enacuavlab/vto-realsim.git
	branch = master
[submodule "vto-tellowifi"]
	path = vto-tellowifi
	url = https://github.com/enacuavlab/vto-tellowifi.git
	branch = master
